@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.main {
	display: flex;
	justify-content: center;
	max-width: 1920px;
	width: 100%;
	min-height: 100vh;
	padding: 40px;
}

.form {
	display: flex;
	/*flex-direction: column;*/
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 13px 20px;
	max-width: 700px;
	min-width: 480px;
	width: 100%;
	height: 100%;
	border: 3px solid black;
	border-radius: 5px;
	background-color: #2C2C2C;
	/*margin: 0 auto;*/
}

.form__description {
	display: block;
	font-family: 'PT Serif', serif;
	/*font-family: 'Roboto', sans-serif;*/
	width: 100%;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 100%;
	color: white;
}

.form__row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 27px;
}

.form__row_name .form__block {
	width: calc(50% - 20px);
}

.form__row_user-data .form__block:nth-child(1) {
	width: calc(20% - 10px);
}

.form__row_user-data .form__block:nth-child(2),
.form__row_user-data .form__block:nth-child(3) {
	width: calc(40% - 35px);
}

.form__row_main-address .form__block {
	width: 100%;
}

.form__row_region-address .form__block {
	width: calc(50% - 20px);
}

.form__row_textarea .form__block {
	width: 100%;
}

.form__row_checkbox .form__block {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.form__row_checkbox .form__block:not(:last-child) {
	margin-bottom: 27px;
}

.form__row_checkbox .form__block input {
	width: 20px;
	height: 20px;
}

.form__block {
	display: flex;
	/*justify-content: flex-end;*/
	flex-direction: column;
}

.form__input {
	display: flex;
	width: 100%;
	height: 30px;
	padding: 0 20px 0 20px;
	border-radius: 2px;
	background-color: white;
	opacity: 0.5;
  outline: 7px ridge rgba(200, 200, 200, 0.5);
}

.form__input_textarea {
	height: 110px;
	padding: 20px;
	resize: none;
}

.form__input-description {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: white;
	margin-left: 15px;
}

.form__submit {
	width: 300px;
	height: 50px;
	padding: 10px;
	border-radius: 2px;
	outline: 7px ridge rgba(200, 200, 200, 0.5);
	margin: 0 auto 7px auto;
	background: white;
	opacity: .5;
	border: none;
	cursor: pointer;
	font-size: 20px;
	color: rgba(0, 0, 0, .7);
	text-transform: lowercase;
	transition: all 0.2s ease-in-out;
}

.form__submit:hover {
	color: rgba(0, 0, 0, .9);
	opacity: .6;
}

.form__submit:active {
	color: rgba(0, 0, 0, 1);
	opacity: .7;
}